= render :partial => 'shared/menu'
.row-fluid
    .span8.offset1#columna_izquierda
        .titulo
            Mapa
        .contenedor#mapa
            #contenedorMapa
    .span2#columna_derecha
        .titulo
            Dona acá
        .contenedor#donaciones
            %ul
                %li
                    = link_to "Página 1", '#'
                %li
                    = link_to "Página 1", '#'
                %li
                    = link_to "Página 1", '#'
.row-fluid
    .span4.offset1
        .titulo
            Twitter
        .contenedor#twitter
            Aquí van los Tweets de la cuenta oficial (todavía pendiente por la compra del dominio)
    .span4
        .titulo
            Noticias
        .contenedor#noticias
            Noticias: Hay que hacer un administrador, ingresar usando devise para poder hacer links de noticias de otros sitios.
    .span2
        .titulo
            Contacto
        .contenedor#contacto
            Contacto
.row-fluid
    .span10.offset1
        .titulo
            Patrocinadores
        .contenedor#patrocinadores
            Patrocinadores
