= render :partial => 'shared/menu'
.row-fluid
    .span8.offset1#columna_izquierda
        .titulo
            Mapa
        .contenedor#mapa
            #contenedorMapa
    .span2#columna_derecha
        .titulo
            Dona acá
        .contenedor#donaciones
            %ul
                %li
                    = link_to 'Techo', 'https://www.techo.org/paises/chile/haz-tu-aporte/'
                %li
                    = link_to 'Levantemos Chile', 'http://www.desafiolevantemoschile.cl/'
                %li
                    = link_to 'Cruz Roja', 'http://www.cruzroja.cl/'
.row-fluid
    .span4.offset1
        .titulo
            Twitter
        .contenedor#twitter
            Aquí van los Tweets de la cuenta oficial (todavía pendiente por la compra del dominio)
    .span4
        .titulo
            Noticias
        .contenedor#noticias
            Noticias: Hay que hacer un administrador, ingresar usando devise para poder hacer links de noticias de otros sitios.
    .span2
        .titulo
            Contacto
        .contenedor#contacto
            Contacto
.row-fluid
    .span10.offset1
        .titulo
            Patrocinadores
        .contenedor#patrocinadores
            Patrocinadores
